* {
  box-sizing: border-box;
}

:root {
  --dark: #5c3537;
  --medium: #c67e8c;
  --light: #dfb1be;
}

body {
  font-family: "Century Gothic", "Arial Narrow", Arial, sans-serif;
  color: var(--dark);
  background-color: var(--light);
  line-height: 1.5;
}

header {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--medium);
}

header h1 {
  color: var(--dark);
  background-color: var(--light);
  padding: 15px 2% 15px 8%;
  margin: 0;
  font-size: 3em;
  line-height: 1;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--dark);
  margin-right: 10px;
  background-image: linear-gradient(360deg, var(--medium) 0%, var(--dark) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 20px;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--dark);
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.hero-banner {
  background-image: url("../assets/images/pexels-jess-loiterton-4603529.jpg"),
    linear-gradient(100deg, var(--dark) 100%, var(--medium) 10%);
  background-size: cover;
  background-position: center;
  height: 10em;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner h2 {
  background-color: rgb(223, 177, 190, 80%);
  color: var(--medium);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.page-section h2 {
  flex: 0 0 15%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--dark);
  font-size: 2.5rem;
  line-height: 1.5;
}

.page-section div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--medium);
  background-color: var(--light);
  color: var(--dark);
  height: 200px;
  flex-basis: calc(50% - 1rem);
  display: flex;
  align-items: flex-end;
  padding: 1em 25% 1em 0;
  margin: 0.5rem;
  text-decoration: none;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: var(--dark);
}

.flex-item div {
  background-color: var(--medium);
  padding: 5px 0;
}

.flex-item h3 {
  font-size: 1.5rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--dark);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(
    150deg,
    var(--dark) 10%,
    var(--medium) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--light);
}

.surf-report {
  background-image: url("../assets/images/pexels-taryn-elliott-6405694.jpg");
}

.grynd-app {
  background-image: url("../assets/images/grynd-app.jpg");
}

.pastel-puzzles {
  background-image: url("../assets/images/pexels-tara-winstead-8386110.jpg");
}

.woofr-app {
  background-image: url("../assets/images/woofr-logo.png");
}

.run-buddy {
  background-image: url("../assets/images/pexels-chiara-caldarola-1257245.jpg");
}

.flex-item:hover {
  opacity: 0.3; 
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section h2 {
    flex: 0 0 100%;
    border-right: none;
    border-bottom: 4px solid var(--light);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 2.3rem;
  }

  .page-section div {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
